._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.cache
.cache/
.com.apple.timemachine.donotpresent
.DocumentRevisions-V100
.docusaurus
.DS_Store
.dynamodb/
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.eslintcache
.fseventsd
.fusebox/
.grunt
.idea
.idea_modules/
.lock-wscript
.LSOverride
.mtj.tmp/
.next
.node_repl_history
.npm
.nuxt
.nyc_output
.parcel-cache
.pnp.*
.pnpm-debug.log*
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.serverless/
.Spotlight-V100
.stylelintcache
.temp
.TemporaryItems
.tern-port
.Trashes
.VolumeIcon.icns
.vscode-test
.vuepress/dist
.yarn-integrity
.yarn/build-state.yml
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
[Dd]esktop.ini
*.cab
*.class
*.ctxt
*.ear
*.iws
*.iml
*.jar
*.lcov
*.lnk
*.log
*.msi
*.msix
*.msm
*.msp
*.nar
*.pid
*.pid.lock
*.rar
*.seed
*.stackdump
*.tar.gz
*.tgz
*.tsbuildinfo
*.war
*.zip
$RECYCLE.BIN/
atlassian-ide-plugin.xml
bower_components
build/Release
cmake-build-*/
com_crashlytics_export_strings.xml
coverage
crashlytics-build.properties
crashlytics.properties
dist
ehthumbs_vista.db
ehthumbs.db
fabric.properties
hs_err_pid*
Icon
jspm_packages/
lerna-debug.log*
lib-cov
logs
Network Trash Folder
node_modules/
npm-debug.log*
out
out/
pids
replay_pid*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
Temporary Items
Thumbs.db
Thumbs.db:encryptable
web_modules/
yarn-debug.log*
yarn-error.log*
